- unless @movie.errors.empty?
  #warning
    Errors prevented this movie from being #{controller.action_name}d:
    %ul
      - @movie.errors.full_messages.each do |error|
        %li= error

= label :review, :potatoes, 'Rating'
= select :review, :potatoes, [1,2,3,4,5]

= label :review, :comments, 'Review comment'
= text_field :review, 'comments'